
body {
    background-color:black;
      background-image:url(k.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-size: cover; 
}
img {
    width:40%;
    height:40%;
    margin: auto;
    display: block;
}
p {
    text-align:left;
    color:lightgrey; 
 padding-top: 0px;

  padding-left: 70px;
}

.name {
    font-size:20px;
font-family: Verdana, sans-serif;
    color:lightgrey; 
      padding-left: 40px;
    padding-top: 30px;
}

.title{
    font-size:12px;
    font-family: Verdana, sans-serif;
 padding-top: 10px;
      padding-left: 50px;
    font-weight: bold;
}

.project{
    font-size:12px;
    font-family: Verdana, sans-serif;
    color:lightgrey; 

}

a:hover{
    color:#bd742b
}