
#prepend-btn{
width:auto;
height:auto;
position:fixed;
left:10px;
top:10px;
border: solid 1px black;
}
#append-btn{
width:auto;
height:auto;
position:fixed;
left:50px;
top:10px;
border: solid 1px black;
}
#box1{
width:100px;
height:100px;
background-color:red;
}
.newbox{

width:100px;
height:100px;
background-color:blue;
}