
body {
    background-color:lavender;
  
}

h1 {
    text-align:center;
    color:white; 
 padding-top: 20px;
    font-family: Verdana, sans-serif;

}


pre {
    text-align:center;
    color:black; 
 padding-top: 0px;

}
div {
    text-align:center;
    color:white; 
 padding-top: 20px;
    font-family: Verdana, sans-serif;

}


a {
    text-align:center;
    color:black; 
 padding-top: 20px;
    font-family: Verdana, sans-serif;
} 

